<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.messagesapp.posts">

    <application>
        <activity
            android:name=".PostDetailActivity"
            android:exported="false" />
        <activity
            android:name=".PostsActivity"
            android:exported="false" />
    </application>

</manifest>